@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

html {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

body {
  min-width: 320px;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

.footer {
  max-width: 600px;
}

@layer base {
  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: #ff634a;
    border-color: var(--tw-ring-color);
  }

  [type='checkbox'],
  [type='radio'] {
    color: #ff634a;
  }

  [type='checkbox']:focus,
  [type='radio']:focus {
    --tw-ring-color: #ff634a;
  }

  div:focus,
  button:focus,
  a:focus {
    outline-color: #ff634a;
    outline-offset: 2px;
  }
}
